* {
    margin: 0;
}

#video {
    position: relative;
    height: 100%;
    width: 100%;
}

.navbar {
    width: 100%;
    & ul {
        text-decoration: none;
        display: flex;
        list-style: none;
    }
}

.Card {
    display: grid;
    grid-template: 1fr/1fr 1fr 1fr;
}

.Card {
    display: flex;
    justify-content: space-around;
}

.Card img {
    height: 250px;
    width: 250px;
}