---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <video autoplay muted loop id="video">
    <source src="/background-header/background.mp4" type="video/mp4">
  </video>

  <div class="video-veil"></div>

  <section id="hero">
    <img src="/icon-temu/Sticky.png" alt="Logo TEMU">
    <a href="#news"><img src="/icon-navbar/Vector.png" alt="Descendre"></a>
  </section>

  <section id="news">
    <div class="card1">
      <img src="/news-image/card1.png" alt="Card 1">
      <div class="inside">
        <h1>SMARTPHONES</h1>
        <h2>Les miniPhones</h2>
        <a href="">Découvrir la collection</a>
      </div>
    </div>
    <div class="card2">
      <img src="/news-image/card2.png" alt="Card 2">
      <div class="inside">
        <h1>CUISINE</h1>
        <h2>L'ustensile indispensable</h2>
        <a href="">Découvrir la collection</a>
      </div>
    </div>
    <div class="card3">
      <img src="/news-image/card3.png" alt="Card 3">
      <div class="inside">
        <h1>ORDINATEUR</h1>
        <h2>La puissance d'AMD</h2>
        <a href="">Découvrir la collection</a>
      </div>
    </div>
  </section>

  <div class="image-veil"></div>
  <section id="miniPhones">
    <div class="image-wrapper">
      <img src="/background.png" alt="">
      <div class="image-veil"></div>
          <h1>SMARTPHONES</h1>
      <h2>Les miniPhones</h2>
    </div>

    <a href="">Découvrir la collection</a>
  </section>

</Layout>

<style>
@font-face {
  font-family: 'Nobel';
  src: url(/public/font/Nobel/fonts/fonnts.com-Nobel_Light.otf);
}

#video {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.video-veil {
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.126));
  z-index: -1;
  pointer-events: none;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25rem;
}

html {
  scroll-behavior: smooth;
}

#news {
  margin-top: 45rem;
  display: flex;
  gap: 0.2rem;
  flex-wrap: wrap;
  justify-content: center;

}

#news img {
  max-width: 100%;
  height: auto;
  width: 100%;
  max-width: 600px;
  object-fit: cover;
  display: block;
}

#news h1 {
  font-family: 'Nobel';
  font-size: 10px;
  margin: 2rem 0 0.25rem;
}

#news h2 {
  font-family: 'Nobel';
  font-size: 24px;
  margin: 0 0 1.6rem;
  line-height: 1.1;
}

#news a {
  font-family: 'Nobel';
  font-size: 15px;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 16px 15px;
  display: inline-block;
}

#news .inside {
  margin-left: 2rem;
  & a {
    gap: 2rem;
  }
}

#miniPhones {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#miniPhones .image-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#miniPhones .image-wrapper img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: -2;
}

#miniPhones a {
  font-family: 'Nobel';
  font-size: 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  padding: 16px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15rem;
  z-index: 1;
}

#miniPhones .image-veil {
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.126));
  z-index: 0;
  pointer-events: none;
}


#miniPhones h1 {
  font-family: 'Nobel';
  font-size: 10px;
  margin: 2rem 0 0.25rem;
  margin-top: -19rem;
  color: white;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

#miniPhones h2 {
  font-family: 'Nobel';
  font-size: 24px;
  margin: 0 0 1.6rem;
  line-height: 1.1;
  color: white;
  display: flex;
  justify-content: center;

}
</style>