---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <video autoplay muted loop id="video">
    <source src="/public/background-header/background.mp4" type="video/mp4">
  </video>

  <div class="video-veil"></div>

  <section id="hero">
    <img src="/public/icon-temu/Sticky.png" alt="TEMU.icon">
    <a href="#news"><img src="/public/icon-navbar/Vector.png" alt=""></a>
  </section>
  <section id="news">
    <div class="card1">
      <img src="/public/news-image/card1.png" alt="">
      <div class="inside">
      <h1>SMARTPHONES</h1>
      <h2>Les miniPhones</h2>
      <a href="">Découvrir la collection</a>
      </div>
    </div>
    <div class="card2">
      <img src="/public/news-image/card2.png" alt="">
      <div class="inside">
      <h1>CUISINE</h1>
      <h2>L'ustensile indispensable</h2>
      <a href="">Découvrir la collection</a>
      </div>
    </div>
    <div class="card3">
      <img src="/public/news-image/card3.png" alt="">
      <div class="inside">
      <h1>ORDINATEUR</h1>
      <h2>La puissance d'AMD</h2>
      <a href="">Découvrir la collection</a>
      </div>
    </div>
  </section>
  <section id="miniPhones">
    <img src="" alt="">
  </section>
</Layout>

<style>
@font-face {
  font-family: 'Nobel';
  src: url(/public/font/Nobel/fonts/fonnts.com-Nobel_Light.otf);
}

#video {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.video-veil {
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.126));
  z-index: -1;
  pointer-events: none;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20rem;
}

html {
  scroll-behavior: smooth;
}

#news {
  margin-top: 40rem;
  display: flex;
  gap: 0.2rem;
  flex-wrap: wrap;
  justify-content: center;
}
#news img {
  max-width: 100%;
  height: auto;
  width: 100%;
  max-width: 600px;
  object-fit: cover;
  display: block;
}


#news h1 {
  font-family: 'Nobel';
  font-size: 10px;
  margin: 2rem 0 0.25rem;
}

#news h2 {
  font-family: 'Nobel';
  font-size: 24px;
  margin: 0 0 1.6rem;
  line-height: 1.1;
}

#news a {
  font-family: 'Nobel';
  font-size: 15px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 16px 15px;
  display: inline-block;
}

#news .inside {
  margin-left: 2rem;
  & a {
    gap: 2rem;
  }
}

</style>