<header>
  <nav>
    <ul class="left-bar">
      <li><a href="/">Menu</a></li>
      <li id="rsh"><a href="/rechercher"><img src="/icon-navbar/Ellipse.png" alt="Recherche"></a></li>
    </ul>
    <ul class="right-bar">
      <li><a href="/wishlist"><img src="/icon-navbar/Wihlist.png" alt="Wishlist"></a></li>
      <li><a href="/user"><img src="/icon-navbar/User.png" alt="Profil"></a></li>
      <li><a href="/cart"><img src="/icon-navbar/Cart.png" alt="Panier"></a></li>
    </ul>
  </nav>
</header>

<style>

@font-face {
  font-family: 'Nobel';
  src: url(/font/Nobel/fonts/fonnts.com-Nobel_Light.otf);
}

nav {
  font-family: 'Nobel';
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.left-bar, .right-bar {
  display: flex;
  gap: 1rem;
  list-style: none;

  & a {
    text-decoration: none;
    color: black;

  }
}

.right-bar {
  margin-right: 1rem;
}

.left-bar {

  margin-left: 3rem;
   gap: 4rem;
}


</style>
